[submodule "elasticsearch"]
	path = elasticsearch
	url = https://github.com/foxycoder/cookbook-elasticsearch.git
[submodule "kibana"]
	path = kibana
	url = https://github.com/foxycoder/chef-kibana.git
[submodule "logstash"]
	path = logstash
	url = https://github.com/foxycoder/chef-logstash.git
[submodule "redisio"]
	path = redisio
	url = https://github.com/brianbianco/redisio.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = https://github.com/opscode-cookbooks/rabbitmq.git
[submodule "java"]
	path = java
	url = https://github.com/opscode-cookbooks/java.git
